@import "./theme.scss";

* {
 box-sizing: border-box;
}

html, body {
 margin: 0;
 padding: 0;
}

body {
  font-family: $font-default;
	font-size: $font-size-default;
	line-height: 1.5;
	color: #333;
	cursor: default;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

a {
	color: inherit;
}


#app-wrapper {
	padding: $margin-small * 2 $margin-default;
	transition: all 2s;
	// position: relative;
}


.row {
	display: flex;
	justify-content: flex-start;
	position: relative;
}

.column {
 flex: 0.3;
 margin-right: $margin-small * 1.5; 
}


// Custom styles for dropdown/select element
.selectContainer input::placeholder {
	font-family: 'Amira', serif !important;
	font-size: var(--inputFontSize, 15px) !important;
	color: rgb(51,51,51) !important;
}

.listContainer {
	border-radius: var(--listBorderRadius, 0px) !important;
	border: 1px solid black !important;
	max-height: var(--listMaxHeight, 250px) !important;
	overflow-y: auto !important;
	background: var(--listBackground, #fff) !important;
}

.item.hover:not(.active) {
	background: var(--itemActiveBackground, blue) !important;
	color: white;
}

.selectContainer {
	--padding: 0 16px;
	border: none !important;
	border-top: 1px solid blue !important;
	border-bottom: 1px solid blue !important;
	border-radius: 0 !important;
	width: 70% !important;

	input {
		padding: var(--itemPadding, 0 20px) !important;
	}
}
