// Fonts
$font-default: 'IBM Plex Sans', sans-serif;
$font-size-default: 14px;

// Colors
$color-primary: rgb(20, 23, 238);
$color-grey: rgb(236, 236, 236);
$color-text: rgb(43, 43, 43);

// Paddings & Margins
$margin-default: 3em;
$margin-small: 2em;



