// Fonts
$font-default: 'IBM Plex Sans', sans-serif;
$font-size-default: 14px;

// Colors
$color-primary: #1500FF;
$color-text: rgb(43, 43, 43);

// Paddings & Margins
$margin-default: 3em;
$margin-small: 2em;



