<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Roboto:wght@300&display=swap');
>>>>>>> 48369ddaa82379e8c28b6dd96be75dd4046f23db

// Fonts
$font-default: 'Amira', serif;
$font-default: 'Cormorant', serif;
$font-size-default: 16px;

// Colors
$color-primary: rgb(20, 23, 238);
$color-grey: rgb(236, 236, 236);
$color-text: rgb(43, 43, 43);
$color-white: rgb(255, 255, 255);

// Paddings & Margins
$margin-default: 2em;
$margin-small: 1em;